@font-face {
    font-family: 'roboto';
    src: url('Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: 'merda';
    src: url('Whisper/Whisper-Regular.ttf');
}
* {
    margin: 0px;
    padding: 0px; 
}
body {
    background: url('imagens/pexels-engin-akyurt-15121231.jpg') center no-repeat fixed;
    background-size: cover;
}
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background: url('imagens/Thin-frame-simple-frame-picture-painting-black-black-pictures-image_434428_wh860-removebg-preview.png') center no-repeat;
    background-size: 600px;
}
iframe {
    border: 1px solid rgba(0, 0, 0, 0);
    height: 380px;
    width: 377px;
    position: relative;
    top: 51%;
    left: 50.3%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.178);
}
nav { 
    position: fixed;
    right: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    width: 75px;
    margin-right: 10px;
}
img {
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(27, 27, 27, 0.678);
    margin: 15px 0px;
    height: 60px;   
}
a {
    color: white;
    text-decoration: none;
    height: 70px;
    width: 60px;
}
a:hover img {
    transform: scale(1.1);
    transition-duration: 0.3s;
    border: 1px solid rgb(0, 0, 0)
}
p {
    font-family: 'merda';
    color: white;
    font-size: 1.6em;
    position: absolute;
    bottom: 0px;
    left: 5px;
}
@media (max-width: 800px) {
    main {
        background-size: 400px 400px;
    }
    iframe {
        height: 255px;
        width: 255px;
        top: 50.7%;
        left: 50.2%;
    }
    nav {
        flex-flow: row wrap;
        margin: 0px;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
    }
    a {
        color: white;
        text-decoration: none;
        text-align: center;
        margin-bottom: 90px;
    }
    p {
        position: absolute;
        top: 0px;
        left: 40%;
        transform: translateX(-30%);
        font-size: 1.4em;
    }
    img {
        height: 50px;
        width: 50px;
    }
}
@media (max-width: 400px) {
    nav {
        align-self: end;
    }
    img {
        height: 40px;
        width: 40px;
    }
}